 :root {
    --highlight: #f7b731;
    --pro-highlight: #2e86de;
  }

.centerText {text-align: center !important;}

/* Body Styles */
body {
    font-family: 'Source Sans Pro', Arial, sans-serif;
    color: #ffffff;
    background-color: #1b1b1b;
}

.PageHeading {
	flex: 1;
	font-size: 40px;
	text-align: center!important;
}

.Previous > a {
	flex: 1;
	font-size: 34px;
	text-align: left !improtant;
}

.Next  > a {
	flex: 1;
	font-size: 34px;
	text-align: right !improtant;
}

.HeadingLinks {
    display: flex;
    justify-content: space-between;
	background-color: #252525 !important;
	border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.6);
	padding: 10px 20px 10px 20px;
	margin-bottom: 40px;
}

.navbar {
    background-color: #1b1b1b !important;
    color: #ffffff  !important;
    border: none  !important;
    padding: 1rem  !important;
	 overflow-y: auto!important;
}

.navbar-brand {
    font-weight: bold  !important;
    color: #f7b731!important;
    font-size: 20px !important;
    text-transform: uppercase  !important;
}

#menu-header li a {
    color: #ffffff  !important;
    font-size: 12px  !important;
    font-weight: bold  !important;
    margin-left: 10px  !important;
	margin-bottom: 10px !important;
    padding: 5px  !important;
    border-radius: 5px  !important;
    border: 2px solid var(--highlight);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1)  !important;
	white-space: nowrap !important;
}

#menu-header li a:hover {
    color: var(--highlight);
    background-color: rgba(247, 183, 49, 0.1)  !important;
}

.navbar .container{
	border-bottom: 5px solid var(--highlight);
	border-radius: 10px;
}

/* Social Sharing */
      .share-buttons {
        display: flex;
        justify-content: space-between;
        margin: 20px 0;
		background-color: #252525 !important;
		border-radius: 10px;
		padding: 10px;
      }
	  .share-buttons > p{
		  margin-top: 10px;
	  }
      .share-button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        color: var(--highlight);
        text-decoration: none;
        font-size: 20px;
      }

/* Heading Styles */
h1, h2, h3, h4, h5, h6 {
    color: #ffffff;
    font-family: 'Montserrat', Arial, sans-serif;
}

/* Listing text */
ol > li {
	padding-bottom: 10px;
	padding-top: 10px;
}

/* Economic page buttons */

.ecoBut {
  background-color: var(--highlight);
  color: black;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  float:left;
}

/* Social icons  */
.socialIcon {
	width: 100% ; 
	height: auto;
	font-size: 90px;
	text-align: center;
	margin-bottom: 20px;
	}
	
	.sidebarHeading {
		text-align: center;
	}
/* Paragraph Styles */
p {
    line-height: 1.5em;
    font-family: 'Source Sans Pro', Arial, sans-serif;
}

/* Container Styles */
.container {
    margin-top: 40px;
    margin-bottom: 40px;
}

/* Footer Styles */
.footer, .card {
    background-color: #252525 !important;
    color: #ffffff !important;
}

.widget-title {
    font-weight: bold;
    color: #ffffff;
    font-family: 'Montserrat', Arial, sans-serif;
}

.widget {
    margin-bottom: 20px;
}

/* Link Styles */
a {
    color: var(--highlight);
    font-family: 'Source Sans Pro', Arial, sans-serif;
}

a:hover {
    color: #ffffff;
}

.copyright {
	text-align: center;
}

.footerWidget, .card {
	border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.6);
    padding: 20px;
	margin-left: 5px; 
	margin-right: 5px;
}
.widget-title {
	color: var(--highlight);
}

#footerMenu {margin-top: 40px !important;
margin-bottom: 40px !important;}

#menu-footer-menu li {float: left !important; 
margin-left: 10px; 
list-style-type: none;
font-size: 20px;
}

.bannerAd {text-align: center; width: 100%!important; height: auto; margin-bottom: 20px; border-radius: 5px;}
.sector-image {width: 100%!important; height: auto; margin-bottom: 20px; border-radius: 5px;}

/* Clearfix */
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/* FAQ */
#faq {
    padding: 20px;
    text-align: center;
	color: #fff;
}

#faq {
    padding: 50px 0;
}
.faq-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.faq-item {
	background-color: var(--highlight);
    width: 80%;
    margin: 10px 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}
.question {
    background-color: var(--highlight);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    cursor: pointer;
}
.question-title {
    color: white;
    font-weight: bolder;
    font-size: 18px;
    margin: 0;
}
.answer {
    background-color: white;
    padding: 20px;
    display: none;
    color: #000;
}
.fa-plus {
    color: white;
    font-size: 24px;
    transition: transform 0.2s ease-in-out;
}
.fa-plus.open {
    transform: rotate(45deg);
}

/* PROFILE Page */
form {
  margin-top: 30px;
}

input[type="text"],
input[type="email"],
input[type="password"] 
 {
  padding: 10px;
  width: 100%;
  margin-bottom: 20px;
  background-color: #252525;
  border: none;
  color: #fff;
}

select {
  padding: 10px;
  width: 100%;
  margin-bottom: 20px;
  background-color: #252525;
  border: none;
  color: #fff;
}

textarea {
  padding: 10px;
  width: 100%;
  margin-bottom: 20px;
  background-color: #252525;
  border: none;
  color: #fff;
}

input[type="submit"] {
  background-color: var(--highlight);
  color: black;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

a.btn {
  margin-right: 10px;
}

.tab-content {
  background-color: #252525;
  padding: 20px;
}

.reset-form,
#forgot-password {
  display: none;
}


/* Table Styles */
.mobileTable{
width: 100%;
border-collapse: collapse;
overflow-x: auto;}

.stock-listings {
  background-color: #1B1B1B;
  color: white;
  padding: 20px;
  width: 100%;
}

.stock-listings-buttons {
  margin-bottom: 20px;
}

.stock-listings-buttons button{
  background-color: #252525;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  margin-right: 10px;
  cursor: pointer;
}

.even > td > .symbol-button {
  background-color: #f7b731;
  color: black !important;
  border: none;
}

.odd > td > .symbol-button {
  background-color: #dea42c !important;
  color: black !important;
  border: none;
}

.symbol-button:hover {
	color: black !important; 
}


.stock-listings-buttons button.active {
  background-color: var(--highlight);
}

.stock-listings-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.stock-listings-table th,
.stock-listings-table td {
  border: 1px solid #252525;
  padding: 10px;
  text-align: left;
}

.stock-listings-table th {
  background-color: #252525;
  color: white;
}

.stock-listings-table tr.odd {
  background-color: #252525;
}

.stock-listings-table tr.even {
  background-color: #1B1B1B;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  flex-wrap: wrap;
}

.pagination a,
.pagination button {
  background-color: #252525;
  color: white;
  border: none;
  padding: 5px 10px;
  font-size: 16px;
  margin-right: 10px;
  cursor: pointer;
  display: inline-block;
}

.pagination a.active,
.pagination button.sort-button, button.sort-button a  {
  background-color: var(--highlight);
  color: black;
}
button.display-button {
  background-color: var(--highlight);
  color: black;
}

.sort-button, .display-button {
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-left: 10px;
    font-size: 16px;
}

.sortImg {
	border-radius: 20px;
}
/* Modal box for chart */
    .modal {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      padding-top: 100px; /* Location of the box */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content */
    .modal-content {
      background-color: #fefefe;
      margin: auto;
      padding: 20px;
      border: 1px solid #888;
      width: 80%;
    }

    /* The Close Button */
    .close {
      color: #aaaaaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
    }

    .close:hover,
    .close:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer;
    }
	/* News */
	.modal-content{
	background-color: #252525;
	color: white!important;
	}
	.news-button {
	background-color: var(--pro-highlight) ;
	color: black !important;
    border: none;
	}
	.newsModal {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      padding-top: 100px; /* Location of the box */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }
	
	#news-list > .row > .col-md-4 > .spacer {
	border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.6);
    padding: 20px;
	margin: 5px; 
	margin-bottom: 20px;
	}
	
	.newsHeading {
	font-size: 20px;
	}
	
	
/* Disclaimer */
  .warning-container {
    width: 100%;
    background-color: var(--highlight);
	color: black;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
	margin-bottom: 40px;
  }

  .warning-text {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background-color: #1B1B1B;
	color: white !important;
    display: none;
  }

/* Mobile styles */
.navbar-toggler-icon {
	background-color: white!important;
	border-radius: 2px !important;
	padding: 20px;
	margin-bottom: 5px;
}


@media (max-width: 767px) {
.pagination a, .pagination button {
margin-top: 10px; margin-bottom: 10px;}

.newsHeading {
	font-size: 1.2rem;
	}

	.Previous, .Next {display: none;}
	
	.stock-listings-table {font-size: 0.8em;}
	
	.sortImg {width: 40px; height:auto; border-radius: 2px;}
	
	.navbar {
        padding: 0.5rem  !important;
    }
	
    .navbar-brand, #menu-menu li a  {
        font-size: 1.2rem  !important;
        margin-left: 0.5rem  !important;
        margin-right: 0.5rem  !important;
    }
	
	#menu-header li {
		text-align: center !important;
		margin-bottom: 10px!important;
	}
	
	.fa, .fa-bars {
		color:white !important;
	}
	
	@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.navbar-collapse {
  animation: slideInFromLeft 0.5s forwards;
  transition: transform 0.5s;
  transform: translateX(-100%);
}

.navbar-collapse.show {
  transform: translateX(0);
}
}



/* Disable Copying */

@media print {
    html, body {
       display: none; 
    }
}


p, h1, h2, h3, h4, h5, h6, img, iframe, br, li, ul, a, div{-webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }


img, picture, a {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1px grey; 
  border-radius: 0px;
	border: 0px!important;
}
 
::-webkit-scrollbar-thumb {
  background:  var(--highlight);
}